{# templates/album-block.html.twig #}
<div class="album-block {% if options.border == 1 %}album-border{% endif %}"
    data-group-1="{{ item.grouping_1 }}"
    data-group-2="{{ item.grouping_2 }}"
    {% if item.max_width or item.max_height %} style="
        {% if item.max_width %}
            max-width: {{ item.max_width + (size_tolerance * item.max_width / 100) }}px;
            min-width: {{ item.max_width - (size_tolerance * item.max_width / 100) }}px;
        {% endif %}
        position: relative;"
    {% endif %}>
    {% if item.medias is not empty %}
        <a href="#" class="album-cover" data-album-id="{{ item.id }}">
            <span class="album-cover-title-top">{{ item.title }}</span>
            <img src="{{ item.image_url }}" alt="{{ item.alt|default(item.title) }}" class="album-cover-img" loading="lazy">
        </a>
    {% else %}
        <span class="album-cover album-cover--disabled" title="Aucun média dans cet album – {{ item.title }}">
            <img src="{{ item.image_url }}" alt="{{ item.title }}" class="album-cover-img" loading="lazy">
            <span class="album-cover-title-overlay">{{ item.title }}</span>
        </span>
    {% endif %}

    {# Hidden div for the lightgallery album #}
    <div id="{{ item.id }}" class="lightgallery-album" style="display:none;">
        {% for media in item.medias %}
            {% if media.mime_type starts with 'image/' %}
                <a href="{{ media.url }}" class="lightgallery__item" data-sub-html=".lightgallery_caption">
                    <img loading="lazy" src="{{ media.thumbnail }}">
                    <div class="lightgallery_caption">
                        <h4>{{ media.title|default('') }}</h4>
                        {% if media.alt %}<p>{{ media.alt }}</p>{% endif %}
                        {% if media.description %}<p>{{ media.description }}</p>{% endif %}
                    </div>
                </a>
            {% elseif media.mime_type starts with 'video/' %}
                <a class="lightgallery__item" data-sub-html=".lightgallery_caption" data-poster="{{ media.thumbnail|default('') }}" data-video='{"source": [{"src":"{{ media.url }}","type":"{{ media.mime_type }}"}], "attributes": {"preload": false, "playsinline": true, "controls": true}}'
                    title="{{ media.title|default('') }}">
                    {% if media.thumbnail %}<img loading="lazy" class="img-responsive" src="{{ media.thumbnail|default('') }}"/>{% endif %}
                    <div class="lightgallery_caption">
                        <h4>{{ media.title|default('') }}</h4>
                        {% if media.alt %}<p>{{ media.alt }}</p>{% endif %}
                        {% if media.description %}<p>{{ media.description }}</p>{% endif %}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

    {% if options.captions == 1 %}
    <div class="album-caption">
        {% if item.author %}<div class="album-author">{{ item.author }}</div>{% endif %}
        {% if item.description %}
            <div class="album-description" style="{% if item.max_width %}width: {{ item.max_width }}px; max-width: {{ item.max_width + (size_tolerance * item.max_width / 100) }}px; min-width: {{ item.max_width - (size_tolerance * item.max_width / 100) }}px;{% endif %}">
            {{ item.description|raw }}
            </div>
        {% endif %}
    </div>
    {% endif %}
</div>
