{#
  Recursive template to display albums + sub-groups,
  with Flexbox at all levels for a responsive layout.
#}

{% macro render_group_recursive(group, options, parent_id, level) %}

	{# ---- Group item (for Flexbox of the parent) ---- #}
	<div
		class="flexbox-item group-item level-{{ level }}" data-level="{{ level }}">

		{# ---- GROUP TITLE (if present) ---- #}
		{% if group.title %}
			<div class="group-title-wrapper level-{{ level }}">
				{% if group.title|striptags|trim|length == 0 %}
					<span class="group-title level-{{ level }} placeholder" aria-hidden="true">
          &nbsp;
          </span>
				{% else %}
					<span class="group-title level-{{ level }}">
						{{ group.title }}
					</span>
				{% endif  %}
			</div>
		{% endif %}

		{# Check if there is content #}
		{% set has_albums = group.albums is defined and group.albums|length > 0 %}
		{% set has_subgroups = group.subgroups is defined and group.subgroups|length > 0 %}

		{% if has_albums or has_subgroups %}
			{# ---- FLEXBOX CONTAINER FOR CHILDREN ---- #}
			{% set group_id = 'flexbox-container-' ~ random() %}
			<div
				class="flexbox-container" id="{{ group_id }}" data-parent="{{ parent_id }}" data-level="{{ level }} ">

				{# ---- ALBUMS OF THE GROUP ---- #}
				{% if has_albums %}
					{% for album in group.albums %}
						<div class="flexbox-item album-item">

							<a href="#" class="album-cover" data-album-id="{{ album.id }}" data-once="lg-album">
								<span class="album-title">{{ album.title }}</span>
								{% if album.image_url %}
									<img src="{{ album.image_url }}" class="album-img" loading="lazy" alt="{{ album.title }}">
								{% endif %}
							</a>

							{# LightGallery container #}
							<div id="{{ album.id }}" class="lightgallery-album" style="display:none;">
								{% for media in album.medias %}
									{% if media.mime_type starts with 'image/' %}
										<a href="{{ media.url }}" class="lightgallery__item" data-sub-html=".lightgallery_caption">
											<img loading="lazy" src="{{ media.thumbnail }}">
											<div class="lightgallery_caption">
												<h4>{{ media.title|default('') }}</h4>
												{% if media.alt %}
													<p>{{ media.alt }}</p>
												{% endif %}
												{% if media.description %}
													<p>{{ media.description }}</p>
												{% endif %}
											</div>
										</a>
									{% elseif media.mime_type starts with 'video/' %}
										<a class="lightgallery__item" data-sub-html=".lightgallery_caption" data-poster="{{ media.thumbnail|default('') }}" data-video='{"source": [{"src":"{{ media.url }}","type":"{{ media.mime_type }}"}], "attributes": {"preload": false, "playsinline": true, "controls": true}}' title="{{ media.title|default('') }}">
											{% if media.thumbnail %}
												<img loading="lazy" src="{{ media.thumbnail }}"/>
											{% endif %}
											<div class="lightgallery_caption">
												<h4>{{ media.title|default('') }}</h4>
												{% if media.alt %}
													<p>{{ media.alt }}</p>
												{% endif %}
												{% if media.description %}
													<p>{{ media.description }}</p>
												{% endif %}
											</div>
										</a>
									{% endif %}
								{% endfor %}
							</div>

							{# Caption (if present) #}
							{% if options.captions and (album.author or album.description) %}
								<div class="album-caption">
									{% if album.author %}
										<p class="album-author">{{ album.author }}</p>
									{% endif %}
									{% if album.description %}
										<div class="album-description">
											{{ album.description|raw }}
										</div>
									{% endif %}
								</div>
							{% endif %}

						</div>
					{% endfor %}
				{% endif %}

				{# ---- SUB-GROUPS (RECURSIVE) ---- #}
				{% if has_subgroups %}
					{% for subgroup in group.subgroups %}
						{{ _self.render_group_recursive(subgroup, options, group_id, level + 1) }}
					{% endfor %}
				{% endif %}

			</div>
		{% endif %}

	</div>

{% endmacro %}


{# ================= MAIN TEMPLATE ===================== #}

{% import _self as macros %}

{% set classes = [
  'album-gallery-view',
  'view',
  'view-album-flexbox'
] %}

<div{{attributes.addClass(classes)}}
	id="album-gallery-{{ random() }}">

	{# --- ROOT FLEXBOX CONTAINER ---- #}
	{% set root_id = 'flexbox-root-' ~ random() %}
	<div class="flexbox-container flexbox-root" id="{{ root_id }}" data-level="root">

		{% if groups|length > 0 %}
			{% for group in groups %}
				{{ macros.render_group_recursive(group, options, root_id, 0) }}
			{% endfor %}
		{% else %}
			<p class="no-results">Aucun album trouvé.</p>
		{% endif %}

	</div>

</div>
